{% extends 'base.html' %}

{% block content %}
    {% include 'partials/search.html' %}

    <h2>My posts</h2>
    <div class="list-group mb-3">
        {% for post in posts %}
            <div class="d-flex">
                <a href="{% url 'posts:detail' post.pk %}" class="list-group-item list-group-item-action">
                    <span>{{ post.id }}.</span> 
                    <b style="color: blue;">{{ post.title }}</b>
                    <span style="font-size: 14px;">by {{ post.author }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
    {% include 'partials/pagination.html' %}
{% endblock %}