<form class="d-flex" method="GET">  
    <div class="input-group mb-3">
        <input type="search" name="search" class="form-control" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" id="button-addon2">Search</button>
    </div>

    {% for error in form.search.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
</form>

