{% extends 'base.html' %}

{% block content %}
    <h1>{{ user_obj.get_full_name|default:user_obj.username }}</h1>

    <div class="mb-5">
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" alt="" class="avatar">
        {% endif%}

        <p>Username: {{ user_obj.username }}</p>
        <p>First name: {{ user_obj.first_name }}</p>
        <p>Last name: {{ user_obj.last_name }}</p>
        <p>Birth date: {{ user_obj.profile.birth_date|date:"d.m.Y" }}</p>
        <p>Email: {{ user_obj.email }}</p>
    </div>

    <h2 class="text-center">User's posts</h2>
    {% include 'partials/post_list.html' %}
{% endblock %}