{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="w-25 mb-3">
        <form method="GET" class="d-flex align-items-center">
            <select name="sort_by" class="form-select form-select-sm me-1" id="sort_by">
                <option value="" selected disabled>Select</option>
                <option value="id">ID</option>
                <option value="name">Name</option>
            </select>
            <button type="submit" class="btn btn-outline-dark btn-sm">Sort</button>
        </form>
    </div>

    <ul class="list-group mb-3">
        {% for author in authors %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between">
                <div>{{ author.id }} - {{ author.name }}</div>
                <div>
                    <a href="{% url 'author_update' author.pk %}" class="btn btn-outline-primary btn-sm">
                        Edit
                    </a>
                    <a href="{% url 'author_delete' author.pk %}" class="btn btn-outline-danger btn-sm">
                        Delete
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% include 'partials/pagination.html' %}
{% endblock %}