.grey_font {
    color: grey;
}

.red_border {
    border: 1px red solid;
}

.fs-12 {
    font-size: 12px;
}

.home_page_slider {
    background-image: url('https://theblogpaperblog.co.uk/wp-content/uploads/sites/5554/2018/12/blogging-blogga_520314613.jpg');
    height: 500px;
    background-size: cover;
    background-position-y: -100px;
}

.text-center {
    text-align: center;
}

.avatar {
    display: inline-block;
    float: left;
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Pagination */
/* .pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
} */